<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Indonesian Covid19 Hospital</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Indonesian Covid19 Hospital API</h1>
        <a href="/api/rumahsakit">api/rumahsakit</a>
        <!-- <input type="file" name="filefield" multiple="multiple"> -->
        <div class="file"></div>
    </div>
</body>
</html>