<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Indonesian Covid19 Hospital</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .copy-clipboard {
            cursor: pointer;
        }
        .copy-clipboard:hover {
            color: lightskyblue !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="my-4">Indonesian Covid19 Hospital API</h2>
        <div class="card mb-4">
            <h5 class="card-header">List Rumah Sakit</h5>
            <div class="card-body">
              <h5 class="card-title">End Point</h5>
              <p class="card-text disabled"><a href="/api/rumahsakit">/api/rumahsakit</a></p>
              <h5 class="card-title">Full End Point</h5>
                <p class="card-text disabled">
                  <a class="fullendpoint" href="/api/rumahsakit"><%=host%>/api/rumahsakit</a>
                  <span onclick="copyToClipBoard()" class="copyIcon" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard"><i class="ml-3 fas fa-copy text-info copy-clipboard fa-lg cp-icon"></i></span>
                  <input type="text" value="" class="myInput" style="opacity: 0; cursor: default;">
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <h5 class="card-header">Search Rumah Sakit by Province</h5>
            <div class="card-body">
              <h5 class="card-title">End Point</h5>
              <p class="card-text disabled"><a href="/api/rumahsakit/search?province=sumatera">/api/rumahsakit/search?province=sumatera</a></p>
              <h5 class="card-title">Full End Point</h5>
                <p class="card-text disabled">
                  <a class="fullendpoint2" href="/api/rumahsakit/search?province=[province_name]"><%=host%>/api/rumahsakit/search?province=[province_name]</a>
                  <span onclick="copyToClipBoard2()" class="copyIcon2" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard"><i class="ml-3 fas fa-copy text-info copy-clipboard fa-lg cp-icon2"></i></span>
                  <input type="text" value="" class="myInput2" style="opacity: 0; cursor: default;">
                </p>
              <h5 class="card-title">Options</h5>
              <ul>
                  <li>Limit <small>(if you don't provide limit number: by default limit 20)</small></li>
                  <a class="fullendpoint" href="/api/rumahsakit/search?province=[province_name]?limit=[limit_number]">/api/rumahsakit/search?province=[province_name]?limit=[limit_number]</a>
              </ul>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <script src="/js/copy-function.js"></script>
</body>
</html>